.ash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('../../images/ashFront.png') center;
    background-repeat: no-repeat;
    background-size: 64px;
}

.person {
    width: 64px;
    height: 64px;
    cursor: pointer;
}