.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);

    &__logo {
        margin-bottom: 31px;
    }

    &__start {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 124px;
        height: 56px;
        background: #FF3D71;
        border-radius: 42px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px 0px;
    }
}
